<li>
    <img src="{{ results.loc[i, 'poster'] }}" alt="poster" class="results_poster">

    <div class="results_details">
        <div class="results_title">{{ results.loc[i, ["movie_title"]][0] }}</div>

        <div class="results_year">
            {% if not results.loc[i, ["title_year"]][0] == "" %}
            ({{ results.loc[i, ["title_year"]][0] }}, {{ results.loc[i, ["imdb_score"]][0] }}/10)
            {% else %}
            ({{ results.loc[i, ["imdb_score"]][0] }})
            {% endif %}
        </div>
    </div>

    <div class="results_link_container">
        <a href="{{ url_for('details', id=results.loc[i, ['index']][0], chosen_type=chosen_type, string_search=string_search, chosen_column=chosen_column) }}" class="results_link_details">Details</a>
        <a href="{{ url_for('recommendations', id=results.loc[i, ['index']][0], chosen_type=chosen_type, string_search=string_search, chosen_column=chosen_column) }}" class="results_link_reco">More like</a>
    </div>
</li>