<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }} - MovieDB</title>
    {% else %}
        <title>MovieDB</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recommendations_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/details_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/results_style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</head>
<body>

<header>
    <ul>
        <li><strong>&#127902; MovieDB</strong></li>
        <li><a href="{{ url_for('index') }}" class="header_link">Home</a></li>
    </ul>
</header>

{% block content %}
{% endblock %}

<footer></footer>
</body>

</html>