<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - MovieDB</title>
    {% else %}
    <title>MovieDB</title>
    {% endif %}
</head>
<body>

<div><strong>MovieDB</strong>
<a href="{{ url_for('index') }}">Home</a>
</div>
<hr>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% block content %}
{% endblock %}

</body>
</html>