{% extends "base.html" %}

{% block content %}

<main>
    <h1>Recommendations for</h1>

    <div class="recommended_title">
        <img src="{{ initial_movie['poster'] }}" alt="poster" class="initial_poster">
        <div class="results_title">{{ initial_movie["movie_title"] }}</div>
        <div class="results_title">{% if not initial_movie["title_year"] == "" %}
            ({{ initial_movie["title_year"] }})
            {% endif %}
        </div>

    </div>
    <div class="results">
        <ul>
            {% for i in results.index %}
                {% include '_items.html' %}
            {% endfor %}
        </ul>
    </div>
</main>

{% endblock %}
