.details_container {
    width: 650px;
    height: 425px;
    margin: 20px auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    font-family: Futura, sans-serif;
}

.details_container_header {
    height: 30px;
    border-bottom: 1px solid black;
    font-family: Futura, sans serif;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: white;
    background-color: black;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

/* LEFT SIDE */

.details_left {
    float: left;
    width: 220px;
}

.details_poster {
    margin: 16px 20px;
    display: block;
    width: 180px;
    border-radius: 10px;
}

.details_imdb_score {
    font-family: Futura, sans serif;
    font-size: 20px;
    text-align: center;
    padding-top: 3px;
}

.details_back_link {
    display: block;
    width: 110px;
    margin: 20px auto;
    padding: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    font-size: 11px;
    text-align: center;
    font-family: Futura, sans serif;
    text-decoration: none;
    color: black;
    background-color: white;
    cursor: pointer !important;
}

.details_back_link:hover {
    color: white;
    background-color: black;
}

/* RIGHT SIDE */

.details_right {
    overflow: hidden;
    padding: 15px 15px 15px 0px;
}

.details_tab_container {
    margin-top: 25px;
}

#details_bar {
    width: 100%;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
}

.details_item_1, .details_item_2 {
    background-color: white;
    color: black;
    border: 0;
    cursor: pointer !important;
    width: 50%;
    margin: 0;
    height: 31px;
    font-family: Futura, sans serif;
    font-size: 12px;
}

.details_item_1 {
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    border-right: 1px solid black;
}

.details_item_2 {
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

.details_item_1:hover, .details_item_2:hover {
    background-color: black;
    color: white;
}

.category {
    padding: 15px;
    font-size: 13px;
}

.details_storyline {
    overflow-y: auto;
    height: 120px;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
}

.details_storyline::-webkit-scrollbar-track {
    border-top-right-radius: 10px;
    /* border-right: 1px solid black; */
}

h2 {
    margin: 0 0 5px 0;
    font-size: 16px;
    text-align: center;
}

.details_top_element {
    border: 1px dotted black;
    border-radius: 5px;
    padding: 5px 10px;
    display: block inline;
    font-size: 10px;
}

.details_redirect {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer !important;
    display: inline-block;
    margin-bottom: 2px;
}

.details_redirect:hover {
    color: white;
    background-color: black;
}

.details_element_line {
    margin-bottom: 10px;
}

.details_element_storyline > strong {
    margin-bottom: 5px;
    display: block;
}