html, body {
	height: 100%;
}

body {
    border: 1px solid black;
    border-radius: 10px;
    height: 500px;
    width: 700px;
    margin: 20px auto;
    padding: 10px;
}

main {
    overflow-y: auto;
    width: 700px;
	height: 450px;
}