<li>

    {% if movie.poster != "" %}
        <img src="{{ movie.poster }}" alt="poster" class="results_poster">
    {% else %}
        <img src="https://i.ibb.co/1vQTKZM/no-poster.jpg" alt="no poster" class="results_poster">
    {% endif %}

    <div class="results_details">
        <div class="results_title">{{ movie.movie_title }}</div>

        <div class="results_year">
            {% if movie.title_year %}
            ({{ movie.title_year }}, {{ movie.imdb_score }}/10)
            {% else %}
            ({{ movie.imdb_score }}/10)
            {% endif %}
        </div>
    </div>

    <div class="results_link_container">
        <a href="{{ url_for('details', id=movie.index, chosen_type=chosen_type, string_search=string_search, chosen_column=chosen_column, chosen_order=chosen_order, page=page) }}" class="link">Details</a>
        <a href="{{ url_for('recommendations', id=movie.index, chosen_type=chosen_type, string_search=string_search, chosen_column=chosen_column, chosen_order=chosen_order, page=page) }}" class="link reco_link">More like</a>
    </div>
</li>