{% extends "base.html" %}

{% block content %}

<main>

    <h1 class="user_h1">Edit Profile</h1>

    <section>
        {% include '_messages.html' %}
    </section>

    <div class="user_form">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32, class="form_boxes") }}<br>
                {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.about_me.label }}<br>
                {{ form.about_me(cols=30, rows=4, class="form_boxes") }}<br>
                {% for error in form.about_me.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </p>
            <p class="form_center">
                <a href="{{ url_for('user', username=current_user.username) }}" class="link"><strong><</strong> Back to Profile</a>
                {{ form.submit(class="link") }}
            </p>
        </form>
    </div>

</main>

{% endblock %}