{% extends "base.html" %}

{% block content %}

<main>

    <section>
        {% include '_searchbar.html' %}
    </section>

    <section>
        <h1>Results</h1>
        <div class="results_container">
            <ul>
                {% for movie in results %}
                    {% include '_items.html' %}
                {% endfor %}
            </ul>
        </div>

        {% if prev_url %}
            <a href="{{ prev_url }}"><</a>
        {% endif %}
        {{ page }}/{{ pages }}
        {% if next_url %}
            <a href="{{ next_url }}">></a>
        {% endif %}

    </section>
</main>

{% endblock %}

