{% extends "base.html" %}

{% block content %}

<main>
    <div id="search_bar">
    <form method="POST" action="/">
        {{ form.csrf_token}}
        {{ form.chosen_type.label }}{{ form.chosen_type(class="dropdown_list") }}
        {{ form.string_search(class="string_field") }}
        {{ form.chosen_column_order.label }}{{ form.chosen_column_order(class="dropdown_list") }}{{ form.chosen_order(class="dropdown_list") }}
    <input type="submit" value="Submit" class="submit_button">
    </form>
    </div>
    <section>
        {% include '_messages.html' %}
        {% if results %}
            <h1>Results</h1>
            <div class="results_container">
                <ul>
                    {% for movie in results %}
                        {% include '_items.html' %}
                    {% endfor %}
                </ul>
            </div>

            {% if prev_url %}
                <a href="{{ prev_url }}"><strong><</strong> Previous results</a>
            {% endif %}
            {{ page }}/{{ pages }}
            {% if next_url %}
                <a href="{{ next_url }}">Next results <strong>></strong></a>
            {% endif %}

        {% endif %}
    </section>
</main>

{% endblock %}

