{% extends "base.html" %}

{% block content %}

<main>

    <section>
        {% include '_searchbar.html' %}
    </section>

    <section>

        {% if pages > 1 %}
            <div class="nav_links">
                {% if prev_url %}
                    <a href="{{ prev_url }}"><</a>
                {% endif %}
                {{ page }}/{{ pages }}
                {% if next_url %}
                    <a href="{{ next_url }}">></a>
                {% endif %}
            </div>
        {% endif %}

        <h1>Results ({{ count }} items found)</h1>
        <div class="results_container">
            <ul>
                {% for movie in results %}
                    {% include '_items.html' %}
                {% endfor %}
            </ul>
        </div>

        {% if pages > 1 %}
            <div class="nav_links">
                {% if prev_url %}
                    <a href="{{ prev_url }}"><</a>
                {% endif %}
                {{ page }}/{{ pages }}
                {% if next_url %}
                    <a href="{{ next_url }}">></a>
                {% endif %}
            </div>
        {% endif %}
    </section>
</main>

{% endblock %}

