.recommended_container {
    width: 515px;
    height: 227px;
    margin: 20px auto;
    padding: 10px;
    background-color: #FBFBFB;
    box-shadow: 1px 1px 5px 2px #e6e6e6;
    border: 1px solid white;
    border-radius: 10px;
}

/* LEFT SIDE */

.recommendations_left {
    float: left;
    width: 120px;
}

.recommended_poster {
    border-radius: 10px;
    display: block;
    float: left;
    width: 110px;
    height: auto;
    margin: 0;
}

.recommended_back_link {
    float:left;
    display: block;
    width: 110px;
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    box-shadow: 1px 1px 5px 2px #e6e6e6;
    font-size: 11px;
    text-align: center;
    font-family: Futura, sans serif;
    text-decoration: none;
    color: black;
    background-color: #FBFBFB;
    cursor: pointer !important;
}

.recommended_back_link:hover {
    color: black;
    background: -webkit-linear-gradient(bottom, #ffffff 0%, #e6e6e6 100%);
}

/* RIGHT SIDE */

.recommendations_right {
    font-family: Futura, sans serif;
    font-size: 12px;
}

.recommended_title, .recommended_year {
    text-align: center;
    font-family: Futura, sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.recommended_year {
    font-weight: normal;
}

.recommended_headperson {
    margin-top: 20px;
}

.recommended_storyline {
    margin-top: 10px;
}

.recommended_storyline > strong {
    display: block;
    margin-bottom: 5px;
}

.recommended_storyline_container {
    overflow-y: auto;
    height: 93px;
    font-size: 12px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 15px;
    box-shadow: inset 1px 1px 5px 2px #e6e6e6;
}

.recommended_storyline_container::-webkit-scrollbar-track {
    border-top-right-radius: 10px;
    background-color: transparent;
}