.results_container > ul {
    display: flex;
    flex-wrap: wrap;
    margin: auto auto 25px;
}

.results_container > ul > li {
    list-style: none;
    height: 300px;
    width: 30.5%;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

/* INFO */

.results_details {
    height: 100px;
    padding: 10px;
}

.results_poster {
    border-radius: 10px;
    display: block;
    margin: auto;
    height: 147px;
}

.results_title, .results_year {
    text-align: center;
    font-family: Futura, sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.results_year {
    font-weight: normal;
}

/* LINKS */

.results_link_container {
    height:33px;
    text-align: center;
}

a.results_link_details, a.results_link_reco {
    padding: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    font-size: 11px;
    text-align: center;
    font-family: Futura, sans serif;
    text-decoration: none;
    color: black;
    background-color: white;
    cursor: pointer !important;
}

a.results_link_reco {
    margin-left: 8px;
}

a.results_link_details:hover, a.results_link_reco:hover {
    color: white;
    background-color: black;
}