.results_container > ul {
    display: flex;
    flex-wrap: wrap;
    margin: auto auto 25px;
}

.results_container > ul > li {
    list-style: none;
    height: 300px;
    width: 30.5%;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 10px;
    border: 1px solid white;
    box-shadow: 1px 1px 5px 2px #e6e6e6;
    border-radius: 10px;
    background-color: #FBFBFB;
}

/* INFO */

.results_details {
    height: 100px;
    padding: 10px;
}

.results_poster {
    border-radius: 10px;
    display: block;
    margin: auto;
    height: 147px;
}

.results_title, .results_year {
    text-align: center;
    font-family: Futura, sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.results_year {
    font-weight: normal;
}

/* LINKS */

.results_link_container {
    height:33px;
    text-align: center;
}

a.results_link_details, a.results_link_reco {
    padding: 8px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    box-shadow: 1px 1px 5px 2px #e6e6e6;
    font-size: 11px;
    text-align: center;
    font-family: Futura, sans serif;
    text-decoration: none;
    color: black;
    background-color: #FBFBFB;
    cursor: pointer !important;
}

a.results_link_reco {
    margin-left: 8px;
}

a.results_link_details:hover, a.results_link_reco:hover {
    color: #007bff;
    background: -webkit-linear-gradient(bottom, #ffffff 0%, #e6e6e6 100%);
}

.nav_links{
    margin: 25px auto;
    text-align: center;
    font-family: Futura, sans serif;
    font-size: 13px;
}

.nav_links > a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    box-shadow: 1px 1px 5px 2px #e6e6e6;
    margin: 10px;
    text-decoration: none;
    font-size: 15px;
    color: black;
}

.nav_links > a:hover {
    color: #007bff;
    background: -webkit-linear-gradient(bottom, #ffffff 0%, #e6e6e6 100%);
}