*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
    border: 1px solid white;
    box-shadow: 1px 1px 5px 2px #e6e6e6;
    border-radius: 10px;
    height: 500px;
    width: 700px;
    margin: 30px auto;
}

header {
    height: 30px;
    line-height: 30px;
    font-family: Futura, sans serif;
    font-size: 14px;
    border-bottom: 1px solid #e6e6e6;
    background-color: #FBFBFB;
    border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

header > ul {
    list-style: none;
    padding: 0;
    display: inline;
}

header > ul > li {
    display: inline;
    margin-left: 8px;
}

a.header_link {
    text-decoration: none;
    color: black;
    padding: 5px;
}

a.header_link:hover {
    text-decoration: none;
    color: #D6D6D6;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #FBFBFB;
    border-bottom-right-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #D6D6D6;
    border-radius: 10px;
    margin: 0;
}

main {
    overflow-y: auto;
    width: 698px;
	height: 468px;
	border-bottom-right-radius: 11px;
	border-bottom-left-radius: 11px;
	background-color: #FBFBFB;
}

h1 {
    text-align: center;
    font-family: Futura, sans-serif;
    font-size: 22px;
    margin: 25px auto;
}

/* SEARCH BAR */

.search_index {
    margin-top: 150px;
}

.search_bar {
    width: 550px;
    margin: 20px auto;
    padding: 15px;
    overflow: auto;
    background-color: #FBFBFB;
    box-shadow: 1px 1px 5px 2px #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    font-family: Futura, sans serif;
    font-size: 14px;
}

.search_label {
    float: left;
    text-align: center;
    width: 59px;
    height: 58px;
    line-height: 58px;
}

.search_form {
    width: 390px;
    text-align: center;
    float: left;
}

.string_field, .dropdown_list {
    padding: 5px;
    background-color: #FBFBFB;
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    font-family: Futura, sans serif;
    font-size: 12px;
}

.string_field {
    width: 245px;
}

.dropdown_list {
    height: 26px;
    position: relative;
    top: -1px;
    margin: 1px;
}

.search_submit {
    width: 59px;
    height: 58px;
    float: left;
    padding-top: 10px;
}

.search_submit > input {
    padding: 8px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    box-shadow: 1px 1px 5px 2px #e6e6e6;
    font-size: 11px;
    text-align: center;
    font-family: Futura, sans serif;
    text-decoration: none;
    color: black;
    background-color: #FBFBFB;
    cursor: pointer !important;
}

.search_submit > input:hover {
    color: black;
    background: -webkit-linear-gradient(bottom, #ffffff 0%, #e6e6e6 100%);
}
